* {
	padding: 0px;
	margin: 0px;
	font-family: century gothic;
}

body{
	background-color: #ededed;
}

.principal{
	display: flex;
	flex-wrap: wrap;
}

.flexible {
	flex: 1;
	min-width: 300px;


}

.flexible: first-child {
	flex: 2;
	padding: 20px;
	background-color: #ff1493;
     
}