body {
	font-family: arial,helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-attachment: fixed;   
	height: 100vh;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             	                                                                                                                           	                                                                                                                    
 }

* {
	box-sizing: border-box;
}






.contenedor{
	width: 100%;
	padding: 15px;
}

.good{
	background: #fff;
	height: 600px;
	width: 450px;
	top: 45%;
	left: 48%;
	transform: translate(-51%, -49%);
	padding: 10px;
	margin: 4%;
	position: relative;
}

h1 {
	text-align: center;
	color: #ff1493;
	font-size: 40px;
}

input[type="text"],
input[type="password"]{
	font-size: 20px;
	width: 50%;
	padding: 10px;
	border: none;
}

.input-contenedor{
	margin-bottom: 15px;
	border: 1px solid #aaa;
}

.icon{
	min-width: 50px;
	text-align: center;
	color: #9999;
}
.button{
	border: none;
	width: 100%;
	color: #fff;
	font-size: 20px;
	background: #ff1493;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover{
	background: cadetblue;
}
p {
	text-align: center;
}
.link {
	text-decoration: none;
	color: #ff1493;
	font-weight: 600;
}
.link:hover{
     background: cadetblue;
}
@media(min-width: 768){
	.formulario{
		margin: center;
		width: 100px;
		margin-top: 150px;
		border-radius: 2%;
		align-items: ;
	}
}


 footer .contenedor{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
/*		padding-bottom: 25px;
		margin-bottom: 10px; */
		position: relative;
	}
	.copy{
		font-size: 20px;
	}

	.redes-s{
		width: 100%;
		text-align: center;
		font-size: 25px;
	}

	.redes-s a{
		color: #00bfff;
		text-decoration: none;
	}
	

	@media(min-width 768px){
		.redes-s{
			width: auto;
		}
		footer .contenedor{
			justify-content: space-between;
		}
	}

	@media(min-width 1024px){
		.contenedor{
			width: 100%;     
		}
	}                    
     .politicas{
		width: 100%;
		display: block;
		flex-wrap: wrap;
		text-align: center;
		font-size: 12px;
		padding-bottom: 50px;
		position: relative;

	}
	.politicas .politicas-2{
		padding: 2px;
	}
	






 



    